.btn-primary {
    background-color: $main_color2;
    color: white;
    border-radius: 3px;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}
